# Signal & Data
mne
numpy
pandas
scikit-learn

# Visualisation
matplotlib
seaborn

# Deep Learning (On utilise la version CPU pour alléger le déploiement)
tensorflow-cpu

# Inférence (Optimisé)
openvino

# Dashboard
streamlit